body{
   background: white;
 	
}
.navbar, .dropdown-menu{
background-color: #3C3C3C;
border: none;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: white;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}
.nav li, .nav li{
  border-bottom: 2px solid #3C3C3C;
}
.nav li:hover, .nav li.active{
  border-bottom: 2px solid white;
}


.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}